<footer>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-xs-12 col-sm-2">
        <a {% if page.url != "/" %} href="/" {% endif %}>
          <figure class="logo">
            <img src="{{ "assets/images/the-lift-nest-logo-blue.svg" | relative_url }}" alt="theLiftNest" alt="the liftnest">
          </figure>
        </a>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-10 center-xs end-sm">
        <!-- footer nav -->
        <nav>
          <ul class="big">
            <li>
              <a href="/impressum">Impressum</a>
            </li>
            <li>
              <a href="/privacy-policy">Datenschutz</a>
            </li>
            <li>
              <a href="{{ site.contact-email }}">E-mail</a>
            </li>
          </ul>
        </nav>
        <!-- footer nav -->
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</footer>
