<header>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-xs-12 col-sm-6 last-xs first-sm">
        <h1>{{ page.header-heading }}</h1>
        <p>{{ page.header-text }}</p>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img src="{{ page.header-image }}" alt="">
        </figure>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</header>
