<header>
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-xs-12 col-sm-6 last-xs first-sm">
        <h1>{{ page.header-heading }}</h1>
        <p class="big">{{ page.header-text }}</p>
        <!-- form-box -->
        <div class="form-box">

          <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="https://protonmail.us1.list-manage.com/subscribe/post?u=6316a319eb509c077fc4cf156&amp;id=15eaee7ece" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <!-- mailchimp embed signup scroll -->
            <div id="mc_embed_signup_scroll">
              <!-- field group -->
              <div class="mc-field-group">
              <!-- <label for="mce-EMAIL">
              Enter your email address
              </label> -->
              <input type="email" placeholder="Enter your email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <!-- field group end -->
              <!-- mailchimp responses -->
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none">
                </div>
                <div class="response" id="mce-success-response" style="display:none">
                </div>
              </div>
              <!-- mailchimp responses end -->
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_6316a319eb509c077fc4cf156_15eaee7ece" tabindex="-1" value="">
              </div>
              <!-- button  -->
              <div class="clear">
                <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button">
              </div>
              <!-- button end -->
            </div>
            <!-- mailchimp embed signup scroll end -->
            </form>
          </div>
          <!--End mc_embed_signup-->

        </div>
        <!-- form box end -->
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-6">
        <figure class="header-image">
          <img src="{{ page.header-image }}" alt="">
        </figure>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</header>
