<header class="header-id">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-6 last-xs first-sm">
        <h1>{{ page.header-heading }}</h1>
        <p class="big">{{ page.header-text }}</p>
        <!-- form-box -->
        <div class="form-box">
          <!-- Buttondown form -->
          <form
            action="https://buttondown.email/api/emails/embed-subscribe/theliftnest"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/theliftnest', 'popupwindow')"
            class="embeddable-buttondown-form"
            >
            <!-- <label for="bd-email">Enter your email</label> -->
            <input type="email" name="email" id="bd-email" placeholder="{{ page.placeholder }}" />
            <input type="hidden" value="1" name="embed" />
            <input class="button" type="submit" value="Ich wünsche mehr Wohnraum" />
            <!-- <p>
              <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
            </p> -->
          </form>
          <!-- Buttondown form end -->
        </div>
        <!-- form box end -->
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <figure class="header-image">
          <img src="{{ page.header-image }}" alt="">
        </figure>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</header>
