<!-- Main nav mobile -->
<nav class="main-nav-mobile visible-xs visible-sm hidden-lg" uk-sticky="show-on-up: true">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-xs">
      <!-- col -->
      <div class="col-xs-6 start-xs">
        <a class="logo-background" href="/"></a>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-6 end-xs">
        <a class="hamburguer-toggle" href="#offcanvas-usage" uk-toggle><span class="icon icon-hamburger-bite"></span> </a>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</nav>
<!-- Main nav mobile end -->
