<nav class="hidden-xs hidden-sm visible-lg main-nav" id="desk-nav">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm">
      <!-- col -->
      <div class="col-sm-3 start-sm">
        <a href="/" class="logo-background"></a>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-sm-9 end-sm">
        <ul class="inline big">
          <li><a {% if page.url != "/" %} href="/#about-the-project-id" {% else %} href="#about-the-project-id" uk-scroll {% endif %}>Die Bettrevolution</a></li>

          <li><a {% if page.url != "/" %} href="/#about-us-id" {% else %} href="#about-us-id" uk-scroll data-offset="100" {% endif %}>Über uns</a></li>

          <li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">E-mail</a></li>
        </ul>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</nav>
