<nav class="hidden-xs hidden-sm visible-lg main-nav" id="desk-nav">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row middle-sm end-sm">
      <!-- col -->
      <div class="col-sm-3 start-sm">
        <a {% if page.url == "/" %} href="#header-id" uk-scroll {% else %} href="/" {% endif %} class="logo-background"></a>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-sm-9">
        <ul class="inline big">
          <li><a href="#about-the-project-id" uk-scroll data-offset="100">Die Bettrevolution</a></li>
          <li><a href="#about-us-id" uk-scroll data-offset="100">Über uns</a></li>
          <li><a href="mailto:{{ site.contact-email }}" target="_blank">E-mail</a></li>
        </ul>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</nav>
