<div id="offcanvas-usage" uk-offcanvas="flip: true; mode: push">
  <div class="uk-offcanvas-bar">
    <!-- wrapper -->
    <div class="wrapper container-fluid">
      <!-- row -->
      <div class="row close-box">
        <a href="#"><span class="uk-offcanvas-close icon icon-close" uk-close></span></a>
      </div>
      <!-- row-end -->
      <!-- row -->
      <div class="row off-canvas-box">
        <!-- col -->
        <div class="col-xs-12">
          <ul class="big">
            <li><a href="/">Home</a></li>

            <li><a {% if page.url == "/" %} class="uk-offcanvas-close" href="/#about-the-project-id" uk-scroll uk-close {% else %} href="/#about-the-project-id" {% endif %}>Die Bettrevolution</a></li>

            <li><a {% if page.url == "/" %} class="uk-offcanvas-close" href="/#about-us-id" uk-scroll uk-close {% else %} href="/#about-us-id" {% endif %}>Über uns</a></li>

            <li><a href="/impressum">Impressum</a></li>

            <li><a href="/datenschutz">Datenschutz</a></li>

            <li><a href="mailto:{{ site.email }}" target="_blank" rel="noopener noreferrer">E-Mail</a></li>
          </ul>
        </div>
        <!-- col end -->
      </div>
      <!-- row end -->
    </div>
    <!-- wrapper end -->
  </div>
</div>
