// The LiftNest
// Design and Development. Fluorescente. Github: @fluorescente
// fluorescente.design

// Type scale: https://www.modularscale.com/?16&px&1.125
// Spaces scale: 2 / 4 / 8 / 16 / 32 / 64 / 128
// Spaces scale: 6 / 12 / 24 / 48

// Type variables

$sans-serif: 'League Spartan Variable', sans-serif;

$regular: 400;
$medium: 500;
$semibold: 600;

// Color variables

$dark: #37374C;
$bright: #fff;
$brand: #FF5B29;

$gray-1: #FAFAFA;

$transparent: rgba(0,0,0,0);
$box-shadow: -1px -1px 17px -2px rgba(0,0,0,0.13);

$transition: .7s ease;
$transition-quick: .4s ease;

$border-radius: 1rem;

// Space variables

p{
  margin: 0;
}

// 4px
$quarter-space: .25rem;

// 8px
$half-space: .5rem;

// 12px
$half-space-and-quarter: .75rem;

// 16px
$one-space: 1rem;

// 24px
$one-space-and-a-half: 1.5rem;

// 32px
$two-spaces: 2rem;

// 48
$three-spaces: 3rem;

// 64
$four-spaces: 4rem;


// General

figure{
  margin: 0;
  & img{
    width: 100%;
  }
}

ul{
  padding: 0;
  margin: 0;
  & li{
    list-style-type: none;
  }
}

.inline{
  display: inline-block;
  & li{
    display: inline-block;
  }
}

.break{
  display: block;
  content: '';
}

section{
  margin-bottom: 3rem;
}

// Font-face

@font-face {
  font-family: 'League Spartan Variable';
  src: url('../fonts/league-spartan/LeagueSpartan-VF.woff2') format('woff2-variations');
  font-weight: 200 900;
}

// Text styles

body{
  font-family: $sans-serif;
  font-weight: $regular;
  color: $dark;
  background-color: $bright;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-height-width{
  height: 100%;
  margin: 0;
}

a{
  color: $dark;
  text-decoration: underline;
  &:hover{
    color: $brand;
  }
}

h1, h2, h3, h4, h5, h6{
  color: $dark;
  font-family: $sans-serif;
  font-weight: $semibold;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

h1{
  // h1-xs: 32.437px / 36.491px
  font-size: 2.027rem;
  line-height: 2.281rem;
  margin-bottom: $two-spaces;
}

h2{
  // h2-xs: 28.833px / 32.437px
  font-size: 1.802rem;
  line-height: 2.027rem;
  margin-bottom: $two-spaces;
}

h3{
  // h3-xs: 25.629px / 28.833px
  font-size: 1.602rem;
  line-height: 1.802rem;
  margin-bottom: $two-spaces;
}

h4{
  // h4-xs: 22.781px / 25.629px
  font-size: 1.424rem;
  line-height: 1.602rem;
  margin-bottom: $one-space;
}

h5{
  // h5-xs: 20.25px / 22.781px
  font-size: 1.266rem;
  line-height: 1.424rem;
  margin-bottom: $one-space;
}

.giant{
  // p-giant-lg: 25.629px / 32.437px
  font-size: 1.602rem;
  line-height: 2.027rem;
  margin-bottom: $two-spaces;
}

$giant-size: 1.602rem;


.big{
  // p-big-xs: 20.25px / 25.629px
  font-size: 1.266rem;
  line-height: 1.602rem;
  margin-bottom: $one-space;
}

$big-size: 1.266rem;

p, .mid{
  // p-xs: 16px / 28.833px
  font-size: 1rem;
  line-height: 1.802rem;
}

$mid-size: 1rem;

// Form

:focus{
  outline: 0;
}

input, textarea {
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #979797;
  padding: $half-space 0;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: $one-space-and-a-half;
  font-size: $big-size;
  color: $dark;
}

header{
  & .form-box{
    input[type="email" i]{
      width: 98.9%;
    }
  }
}



::-webkit-input-placeholder{
  color: #9A9AA2;
  font-size: $big-size;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #9A9AA2;
  font-size: $big-size;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9A9AA2;
  font-size: $big-size;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9A9AA2;
  font-size: $big-size;
}

input:placeholder-shown {
  font-size: $big-size;
}

.button{
  display: inline-block;
  color: $bright;
  background-color: $brand;
  border-bottom: none;
  font-weight: $medium;
  padding: $half-space-and-quarter $two-spaces;
  cursor: pointer;
  text-decoration: none;
  &:hover{
    background-color: $dark;
    color: $bright;
    text-decoration: none;
  }
}

// Header

header{
  margin: $three-spaces 0;
  & .header-image{
    margin: 0 0 $two-spaces 0;
  }
  & .big{
    margin-bottom: $two-spaces;
  }
}

// Confirmation pages

.confirmation{
  & .message-box{
    margin-top: $four-spaces;
    background: $bright;
    border-radius: $border-radius;
    padding: $four-spaces $two-spaces;
    & .logo{
      width: 12rem;
      margin: 0 auto;
      margin-bottom: $two-spaces;
    }
    & h1{
      margin-bottom: $one-space-and-a-half;
    }
    & p{
      margin-bottom: $two-spaces;
    }
  }
}

.gray-one-background{
  background-color: $gray-1;
}

// About the project

.about-the-project{
  & figure{
    margin-bottom: $two-spaces;
    & img{
      border-radius: $border-radius;
    }
  }
}

// About us

.team-members{
  & li{
    margin-bottom: $three-spaces;
    &:last-child{
      margin-bottom: 0;
    }
    & figure{
      margin-bottom: $one-space;
    }
    & h4{
      margin-bottom: $quarter-space;
    }
    & .big{
      margin-bottom: $one-space-and-a-half;
    }
  }
}

// contact us

.contact-us{
  margin-top: $four-spaces;
  & a{
    font-weight: $medium;
  }
}

// footer

footer{
  background: $gray-1;
  padding: $two-spaces 0 $four-spaces 0;
  & .logo{
    width: 10rem;
    margin: 0 auto $two-spaces auto;
  }
  & nav{
    & a{
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    & ul{
      margin-bottom: 0 !important;
    }
    & li{
      font-weight: $semibold;
      display: block;
      margin-bottom: $one-space;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
