p {
  margin: 0;
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}

.inline {
  display: inline-block;
}
.inline li {
  display: inline-block;
}

.break {
  display: block;
  content: "";
}

section {
  margin-bottom: 3rem;
}

@font-face {
  font-family: "League Spartan Variable";
  src: url("../fonts/league-spartan/LeagueSpartan-VF.woff2") format("woff2-variations");
  font-weight: 200 900;
}
body {
  font-family: "League Spartan Variable", sans-serif;
  font-weight: 400;
  color: #37374C;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-height-width {
  height: 100%;
  margin: 0;
}

a {
  color: #37374C;
  text-decoration: underline;
}
a:hover {
  color: #FF5B29;
}

h1, h2, h3, h4, h5, h6 {
  color: #37374C;
  font-family: "League Spartan Variable", sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 2.027rem;
  line-height: 2.281rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.802rem;
  line-height: 2.027rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.602rem;
  line-height: 1.802rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.424rem;
  line-height: 1.602rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.266rem;
  line-height: 1.424rem;
  margin-bottom: 1rem;
}

.giant {
  font-size: 1.602rem;
  line-height: 2.027rem;
  margin-bottom: 2rem;
}

.big {
  font-size: 1.266rem;
  line-height: 1.602rem;
  margin-bottom: 1rem;
}

p, .mid {
  font-size: 1rem;
  line-height: 1.802rem;
}

:focus {
  outline: 0;
}

input, textarea {
  width: 100%;
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #979797;
  padding: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 1.5rem;
  font-size: 1.266rem;
  color: #37374C;
}

header .form-box input[type=email i] {
  width: 98.9%;
}

::-webkit-input-placeholder {
  color: #9A9AA2;
  font-size: 1.266rem;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #9A9AA2;
  font-size: 1.266rem;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #9A9AA2;
  font-size: 1.266rem;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #9A9AA2;
  font-size: 1.266rem;
}

input:placeholder-shown {
  font-size: 1.266rem;
}

.button {
  display: inline-block;
  color: #fff;
  background-color: #FF5B29;
  border-bottom: none;
  font-weight: 500;
  padding: 0.75rem 2rem;
  cursor: pointer;
  text-decoration: none;
}
.button:hover {
  background-color: #37374C;
  color: #fff;
  text-decoration: none;
}

header {
  margin: 3rem 0;
}
header .header-image {
  margin: 0 0 2rem 0;
}
header .big {
  margin-bottom: 2rem;
}

.confirmation .message-box {
  margin-top: 4rem;
  background: #fff;
  border-radius: 1rem;
  padding: 4rem 2rem;
}
.confirmation .message-box .logo {
  width: 12rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.confirmation .message-box h1 {
  margin-bottom: 1.5rem;
}
.confirmation .message-box p {
  margin-bottom: 2rem;
}

.gray-one-background {
  background-color: #FAFAFA;
}

.about-the-project figure {
  margin-bottom: 2rem;
}
.about-the-project figure img {
  border-radius: 1rem;
}

.team-members li {
  margin-bottom: 3rem;
}
.team-members li:last-child {
  margin-bottom: 0;
}
.team-members li figure {
  margin-bottom: 1rem;
}
.team-members li h4 {
  margin-bottom: 0.25rem;
}
.team-members li .big {
  margin-bottom: 1.5rem;
}

.contact-us {
  margin-top: 4rem;
}
.contact-us a {
  font-weight: 500;
}

footer {
  background: #FAFAFA;
  padding: 2rem 0 4rem 0;
}
footer .logo {
  width: 10rem;
  margin: 0 auto 2rem auto;
}
footer nav a {
  text-decoration: none;
}
footer nav a:hover {
  text-decoration: none;
}
footer nav ul {
  margin-bottom: 0 !important;
}
footer nav li {
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
}
footer nav li:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=styles.css.map */
