---
layout: basic-structure
---
{% include main-nav-desk.html %}

<section class="page-docs">
  <!-- wrapper -->
  <div class="wrapper container-fluid">
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-lg-9">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <h6>{{ page.betreiber-der-webseite-heading }}</h6>
        <p>{{ page.betreiber-der-webseite-text }}</p>
        <h6>{{ page.vertreten-durch-heading }}</h6>
        <p>{{ page.vertreten-durch-text }}</p>
        <h6>{{ page.kontakt-heading }}</h6>
        <p>{{ page.kontakt-text }}</p>
        <h6>{{ page.technische-und-graphische-umsetzung-heading }}</h6>
        <p>{{ page.technische-und-graphische-umsetzung-text }}</p>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <h6>{{ page.datenschutz-heading }}</h6>
        <p>{{ page.datenschutz-text }}</p>
        <h6>{{ page.haftung-fur-die-Inhalte-heading }}</h6>
        <p>{{ page.haftung-fur-die-Inhalte-text }}</p>
        <h6>{{ page.haftung-fur-Links-heading }}</h6>
        <p>{{ page.haftung-fur-Links-text }}</p>
      </div>
      <!-- col end -->
      <!-- col -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <h6>{{ page.fotonachweise-heading }}</h6>
        <p>{{ page.fotonachweise-text }}</p>
        <h6>{{ page.alternative-streitbeilegung-header }}</h6>
        <p>{{ page.alternative-streitbeilegung-text }}</p>
      </div>
      <!-- col end -->
    </div>
    <!-- row end -->
  </div>
  <!-- wrapper end -->
</section>

{% include footer.html %}
